# Python cache files
__pycache__/
*.py[cod]

# Environment Variables (SECRETS)
.env

# IDE settings (VS Code, PyCharm)
.vscode/
.idea/

# Virtual Environments
venv/
env/


# copied content files 
project_contents.txt